.fwtable {
	margin:0 auto;
	font-size:12px;
}

.fullbuildhead {
	font-size:14px;
	font-weight:bold;
	margin-top:6px;
	margin-bottom:2px;
}

td.tableheadleft {
	text-align:left;
	width:320px;
	font-weight:bold;
}

td.tablehead {
	width:80px;
	font-weight:bold;
}

.tdbuilding {
	color:#ff6600;
}

.tdempty {
	color:#999999;
	font-style:italic;
}
